<!DOCTYPE html>
{% extends "rango/base.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}
{% block title %}Add a category{% endblock %}
{% block body_block %}
		<div>
			
			<form role="form" id="category_form" method="post" action="{% url 'add_category' %}">
				<h2 class="form-signin-heading">Add a Category</h2>
				{% csrf_token %}
				{{ form|as_bootstrap }}


				<button class="btn btn-primary" type="submit" name="submit">Create Category</button>
	        </form>
		</div>
{% endblock %}
